.top-navbar .new-channel-btn-container{
  height: $top-navbar-height;
  display: table-cell;
  vertical-align: middle;

  .button-create-channel{
    height: 50px;
    text-align: center;
    margin-right: 60px;
    padding: 0 30px;
    border: none;
    background-color: #b66430;
    font-size: 1.3em;
    color: #FFF;
    //background: url('eye.png') center left no-repeat; // TODO: Put in the correct icon
  }

}

#channels{

  /* The extras header is slightly higher on the Channels page */
  .top-navbar-extras{
    padding: 15px;
    height: 100px;
    overflow: auto;

    .extras-container{
      overflow: auto;
    }
  }

  .container-channels-wrapper{

    .column-right{
      background-color: #FFF;
    }

    ul{

      list-style-type: none;
      padding: 0;
      margin: 0;

      li{
        padding: 20px;
        border-bottom: 1px solid #b1b1b1;
        min-height: 90px;
        border-right: 1px solid #b1b1b1;
        overflow: auto;

        &:hover{
          background-color: #FFF;
          cursor: pointer;
          border-right: 1px solid transparent; /* Prevent 1px hopping to the right on hover */
        }

        .channel-icon{
          display: block;
          float: left;
          width: 40px;
          height: 40px;
        }

        .channel-icon-phone{
          //background: url('phone.png') center left no-repeat; // TODO: Put in the correct icon
        }

        .channel-icon-sms{
          //background: url('sms.png') center left no-repeat; // TODO: Put in the correct icon
        }

        .channel-icon-app{
          //background: url('app.png') center left no-repeat; // TODO: Put in the correct icon
        }

        .details-container{
          display: inline-block;

          h3.type-and-address{
            color: #b66430;
            font-size: .95em;
            padding: 0;
            margin: 2px;
          }

          .url{
            color: #7c7d7d;
            font-style: italic;
            font-size: .85em;
          }

        }

        .delete-btn{
          display: inline-block;
          float: right;
          width: 70px;
          height: 30px;
          color: #FFF;
          background-color: #860912;
          border: 1px solid #8b1b1c;
          text-align: center;
          line-height: 30px;
        }

      }

      li.active{
        background-color: #FFF;
        border-right: none;

        .monitor-icon-phone{
          //background: url('phone_orangebrown.png') center left no-repeat; // TODO: Put in the correct icon
        }

        .monitor-icon-sms{
          //background: url('sms_orangebrown.png') center left no-repeat; // TODO: Put in the correct icon
        }

        .monitor-icon-chat{
          //background: url('app_orangebrown.png') center left no-repeat; // TODO: Put in the correct icon
        }

        span.counter{
          border: 1px solid #bc713f;
          color: #b66430;
        }
      }

    }

    form{

      input,select{
        display: block;
        margin: 10px 0;
      }

    }

  }

}