#domains{

  .domain-search-form-container{
    margin-bottom: 20px;

    form{

      .form-field-domain-list-search{
        width: 100%;
      }

    }
  }

  a.link-more-domains{
    font-size: .9em;
    color: #b66430;
    margin-top: 30px;
  }

  .page-top{
    margin-top: 100px;

    span img{      
      padding-bottom:20px;
    }
  }

}