#domain-information{

  .container-domain-information-wrapper{
    margin: 10px 5px;

    @media (min-width: $screen-md-min) {
      margin: 30px 20px;
    }
  }


  h1{
    font-size: 1.7em;
    color: #3091ac;
    margin: 0 0 20px;
    padding: 0;
  }

  form.domain-details{

    input[type="text"]{
      padding: 10px;
      width: 100%;
      margin: 10px 0;
    }

    input[type="submit"]{
      margin: 10px 0 0 0;
      padding: 15px 30px;
    }

  }

  .domain-information-google-map{

    /*max-height: 550px;
    overflow: hidden;*/

    /* Mockup style */
    /*img{
      width:100%;
    }*/
  }

  .angular-google-map-container {
    height: 400px;
  }


  .domain-information-google-map-footer{
    background-color: #eae7e0;

    form.form-google-map{

      margin: 30px 0;

      input{
        height: 50px;
      }

      input[type="text"]{
        width: 100%;
      }

    }

    p.form-note-footer{
      padding-left: 50px;
      //background: url('map_icon.png') left center no-repeat; // TODO: Add real icon
      font-size: .9em;
      font-style: italic;
      color: #8f8f8f;
    }

  }


}