/* Columns for certain pages */
/* Since they don't need padding/margin, the bootstrap grid is not very suitable for this */

.columns{

  overflow: auto;

  h2{
    color: #3091ac;
    font-size: 1.6em;
    margin: 20px 0 30px;
  }

  .column{
    width: 50%;
  }

  .column-one-third{
    width: 33.3333%;
  }

  .column-two-third{
    width: 66.6666%;
  }

  .column-left{
    float: left;
  }

  .column-right{
    float: right;
  }

  .vertical-page-divider-right{
    border-right: 1px solid #b1b1b1;
  }

  .vertical-page-spacing-left{
    padding-left: 20px;
  }

  .horizontal-page-spacing-top{
    padding-top: 15px;
  }

}