#settings{

  .container-settings-wrapper{

    .column-right{
      background-color: #FFF;
    }

    ul{

      list-style-type: none;
      padding: 0;
      margin: 0;

      li{
        padding: 20px;
        border-bottom: 1px solid #b1b1b1;
        min-height: 40px;
        border-right: 1px solid #b1b1b1;
        overflow: auto;

        &:hover{
          background-color: #FFF;
          cursor: pointer;
          border-right: 1px solid transparent; /* Prevent 1px hopping to the right on hover */
        }

        .channel-icon{
          display: block;
          float: left;
          width: 40px;
          height: 40px;
        }

        .channel-icon-phone{
          //background: url('phone.png') center left no-repeat; // TODO: Put in the correct icon
        }

        .channel-icon-sms{
          //background: url('sms.png') center left no-repeat; // TODO: Put in the correct icon
        }

        .channel-icon-app{
          //background: url('app.png') center left no-repeat; // TODO: Put in the correct icon
        }

        .details-container{
          display: inline-block;

          h3{
            color: #b66430;
            font-size: 1.2em;
            padding: 0;
            margin: 2px;
          }

        }

      }

      li.active{
        background-color: #FFF;
        border-right: none;

        .monitor-icon-phone{
          //background: url('phone_orangebrown.png') center left no-repeat; // TODO: Put in the correct icon
        }

        .monitor-icon-sms{
          //background: url('sms_orangebrown.png') center left no-repeat; // TODO: Put in the correct icon
        }

        .monitor-icon-chat{
          //background: url('app_orangebrown.png') center left no-repeat; // TODO: Put in the correct icon
        }

        span.counter{
          border: 1px solid #bc713f;
          color: #b66430;
        }
      }

    }

    form{

      input,select{
        display: block;
        margin: 10px 0;
      }

    }

  }

}