extends layout

block navbar
  .navbar.bs-docs-nav
    a.navbar-brand.navbar-icon.navbar-icon-management-console(href='#/domains', title='domains')
    ul.nav.navbar-nav
      //li
        a.navbar-icon.navbar-icon-management-console(href='#/domains', title='Domains')
      li
        a.navbar-icon.navbar-icon-domain-overview(href='#/domains', title='Domain overview')
      li
        a.navbar-icon.navbar-icon-domain-information(href='#/domain-information', title='Domain information')
      //li
        a.navbar-icon.navbar-icon-logs(href='#/logs', title='Logs')
      li
        a.navbar-icon.navbar-icon-monitors(href='#/monitors', title='Monitors')
      //li
        a.navbar-icon.navbar-icon-channels(href='#/channels', title='Channels')
      //li
        a.navbar-icon.navbar-icon-settings(href='#/settings', title='Settings')

block topbar
    .topbar.bs-docs-nav.navbar.navbar-default
      .navbar-header
        button.navbar-toggle(data-toggle='collapse', data-target='#mc-navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar        
        h1.pull-left Management Console
      #mc-navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav        
          li.username
            a(href='#/domains', title='') {{ app.resources.name }}
          li.logout
            a.navbar-icon.navbar-icon-logout(href='#/logout', title='Logout') Logout

block footer
  footer
    .container
      p.text-muted.credit.pull-left
        | Some footer text
        a(href='#')  and a link
      p.text-muted.pull-right(style='margin-top:20px')
        | {{ 'Current version is v%VERSION%. Released: %RELEASED%' | interpolate }}

block icons
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='icons/apple-touch-icon-144-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='icons/apple-touch-icon-114-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='icons/apple-touch-icon-72-precomposed.png')
  link(rel='apple-touch-icon-precomposed', href='icons/apple-touch-icon-57-precomposed.png')
  link(rel='shortcut icon', href='icons/favicon.png')

block iestuff
  //if lt IE 7
    p.chromeframe
      | You are using an outdated browser.
      a(href='http://browsehappy.com/') Upgrade your browser today
      | or
      a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
      | to better experience this site.
  //if lt IE 9
    script(src='vendors/es5-shim/es5-shim.js')
    script(src='vendors/json3/lib/json3.min.js')
  //angular-ui-select
    script.
      document.createElement('ui-select');
      document.createElement('ui-select-match');
      document.createElement('ui-select-choices'); 

block analytics
  // Google Analytics: change UA-XXXXX-X to be your site's ID.
  script.
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));