section#domains

    .container-fluid
        .row
            .col-lg-4.col-lg-offset-4.col-sm-8.col-sm-offset-2
                .page-top
                    span.icon.icon-title-domain
                    h1 Select a domain

                    .form-field-container.form-field-icon.form-field-icon-left.left-inner-addon
                        div.inline-block
                            i.glyphicon.glyphicon-search
                            input(placeholder="Search in domain list").form-field-domain-list-search

                    a(href="/#/domains-overview").link.link-more-domains Complete list of all domains