section#domain-information

    .top-navbar
        .back.glyphicon.glyphicon-chevron-left
        h2.icon.icon-domain-info Domain Information

    .container-domain-information-wrapper
        .container-fluid

            .row
                .col-lg-12
                    h1 Domain: {{ app.environment.domain }}
            .row
                .col-lg-12 
                    p.text-center(ng-show="alert.domain.display")
                    {{ alert.domain.message }}
            .row
                .col-lg-3
                    form.domain-details
                        input(type="text", ng-model="domain", id="domain-name", ng-readonly="true").field-domain-name
                        input(type="text", ng-model="geofence.latitude", id="latitude").field-location-latitude
                        input(type="text", ng-model="geofence.longitude", id="longitude").field-location-longitude
                        input(type="text", ng-model="geofence.radius", id="radius").field-location-radius

                        input(type="submit", ng-click="update()", id="submit", value="Save").field-submit
                .col-lg-9

                    .container-fluid
                        .row
                            .col-lg-12
                                .google-map.domain-information-google-map

                                    ui-gmap-google-map(center='map.center', zoom='map.zoom', events='map.events')
                                      ui-gmap-search-box(template='searchBox.template', events='searchBox.events', parentdiv='searchBox.parentdiv')
                                      ui-gmap-marker(idKey='marker.id', coords='marker.coords', events='marker.events',  options='marker.options')
                                        ui-gmap-circle(center='marker.coords', radius='circle.radius', fill='cirlce.fill', stroke='circle.stroke', clickable='circle.clickable', editable='circle.editable', geodesic: circle.geodesic, draggable: circle.draggable, clickable: circle.clickable, visible: 'circle.visible', events='circle.events')
                        .row
                            .col-lg-12

                                .domain-information-google-map-footer
                                    form.form-google-map
                                        .container-fluid
                                            .row
                                                .col-lg-10
                                                    #searchBoxParent
                                                    //input(type="text", id="address", placeholder="Search for streetname, postcode or city").field-address
                                                .col-lg-2
                                                    //input(type="submit", id="submit", value="Search").field-search

                                    p.form-note-footer You can drag and drop the marker on the map to pinpoint the location precisely. The coordinates will change accordingly.