section#domains-overview

  .container-wrapper
    .container-fluid
        .row
            .col-lg-4.col-lg-offset-4.col-sm-8.col-sm-offset-2
                .page-top
                    span.icon.icon-title-domain
                    h1 Select a domain

                    a(href="/#/domains").link.link-more-domains Go back to search view
        .row
            .col-lg-12
                ul.domains-overview-list
                    li
                        ul.domains-overview-list-item
                            li.name
                                h2 KNRM Dordrecht Zuid
                            li.monitors
                                span.details
                                    span.counter 3
                                    span.title Monitors
                                    span.details <strong>3 active</strong> and <strong>1 inactive</strong>
                            li.channels
                                span.details
                                    span.counter 4
                                    span.title Channels
                                    span.details <strong>2 telephone</strong> and <strong>2 SMS channels</strong>
                    li
                        ul.domains-overview-list-item
                            li.name
                                h2 KNRM Dordrecht Noord
                            li.monitors
                                span.details
                                    span.counter 2
                                    span.title Monitors
                                    span.details <strong>2 active</strong> and <strong>2 inactive</strong>
                            li.channels
                                span.details
                                    span.counter 4
                                    span.title Channels
                                    span.details <strong>2 telephone</strong> and <strong>1 SMS channels</strong>
                    li
                        ul.domains-overview-list-item
                            li.name
                                h2 Reddings Brigade Scheveningen
                            li.monitors
                                span.details
                                    span.counter 5
                                    span.title Monitors
                                    span.details <strong>5 active</strong>
                            li.channels
                                span.details
                                    span.counter 2
                                    span.title Channels
                                    span.details <strong>1 telephone</strong> and <strong>2 SMS channels</strong>
                    li
                        ul.domains-overview-list-item
                            li.name
                                h2 KNRM Scheveningen
                            li.monitors
                                span.details
                                    span.counter 3
                                    span.title Monitors
                                    span.details <strong>2 active</strong> and <strong>1 inactive</strong>
                            li.channels
                                span.details
                                    span.counter 2
                                    span.title Channels
                                    span.details <strong>1 telephone</strong> and <strong>1 SMS channels</strong>
                    li
                        ul.domains-overview-list-item
                            li.name
                                h2 Brandweer Zaandam
                            li.monitors
                                span.details
                                    span.counter 9
                                    span.title Monitors
                                    span.details <strong>3 active</strong> and <strong>1 inactive</strong>
                            li.channels
                                span.details
                                    span.counter 5
                                    span.title Channels
                                    span.details <strong>2 telephone</strong>, <strong>2 SMS channels</strong> and <strong>1 email</strong>
                    li
                        ul.domains-overview-list-item
                            li.name
                                h2 KNRM Dordrecht Zuid
                            li.monitors
                                span.details
                                    span.counter 4
                                    span.title Monitors
                                    span.details <strong>3 active</strong> and <strong>1 inactive</strong>
                            li.channels
                                span.details
                                    span.counter 4
                                    span.title Channels
                                    span.details <strong>2 telephone</strong> and <strong>2 SMS channels</strong>
                    li
                        ul.domains-overview-list-item
                            li.name
                                h2 Brandweer Oudenbosch
                            li.monitors
                                span.details
                                    span.counter 12
                                    span.title Monitors
                                    span.details <strong>9 active</strong> and <strong>3 inactive</strong>
                            li.channels
                                span.details
                                    span.counter 2
                                    span.title Channels
                                    span.details <strong>1 telephone</strong> and <strong>2 SMS channels</strong>

        .row
            .col-lg-4.col-lg-offset-4.col-sm-8.col-sm-offset-2
                .page-bottom
                    .pagination
                        .pagination-buttons
                            a(href="#prev").prev
                                i.glyphicon.glyphicon-chevron-left
                            a(href="#next").next
                                i.glyphicon.glyphicon-chevron-right

                        .pagination-numbers <strong>1-9</strong> of <strong>89</strong>