section#monitors

    .top-navbar
        .back.glyphicon.glyphicon-chevron-left
        h2.icon.icon-logs Monitors

        .pull-right
            .new-monitor-btn-container
                input(type="button", value="New Monitor").button-create-monitor

    .top-navbar-extras
        .extras-container
            span Show inactive
            //span State
            select(ng-model='state', ng-options='state for state in states', ng-change='getMonitors()')    

            span  Type
            select(ng-model='type', ng-options='type for type in types', ng-change='getMonitors()')
                option(value='') All types


    .container-monitors-wrapper
        .columns
            .column-one-third.column-left
                ul
                    //li.active
                        span.monitor-icon.monitor-icon-phone
                        span.counter 1
                        .details-container
                            h3.name StandBy monitor bevelvoerder guard
                            span.type Bevelvoerder
                        .status-toggle-container
                            span Toggle
                    //li
                        span.monitor-icon.monitor-icon-sms
                        span.counter 0
                        .details-container
                            h3.name StandBy monitor escalatie guard
                            span.type Escalatie
                        .status-toggle-container
                            span Toggle
                    //li
                        span.monitor-icon.monitor-icon-app
                        span.counter 4
                        .details-container
                            h3.name StandBy monitor chauffeur guard
                            span.type Chauffeur
                        .status-toggle-container
                            span Toggle
                    li(ng-repeat='monitor in monitors')
                        span.monitor-icon(ng-class="monitor.imgClass")
                        span.counter {{ monitor.wish }}
                        .details-container
                            h3.name {{ monitor.name }} 
                            span.type {{ monitor.groupName }}
                        .status-toggle-container
                            span {{ monitor.state }}
                    

            .column-two-third.column-right.vertical-page-spacing-left.horizontal-page-spacing-top
                h2 Standby monitor bevelvoerder guard

                form
                    input(type="text", placeholder="Monitor name").field-monitor-name
                    input(type="text", placeholder="GroupA, GroupB, GroupC").field-groups
                    textarea.wish
                    p
                        em ^^ Add wish-timeline here ^^
                    input(type="text", placeholder="Frequency").field-frequency
                    select.field-day
                    select.field-monitortype
                    input(type="text", placeholder="AskFastAgentUrl").field-askfastagenturl
                    input(type="text", placeholder="AskFast escalation agent url").field-askfastescalationagenturl
                    input(type="submit", value="Save").field-submit.field-monitor-save                    
