<section id="domains">
  <div class="container-fluid">
    <div class="col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2">
      <section class="content-block content-block-centered content-block-domain-selector"><span class="icon icon-title-domain"></span>
        <h1>Select a domain</h1>
        <div class="form-field-container form-field-icon form-field-icon-left left-inner-addon"><i class="glyphicon glyphicon-search"></i>
          <input placeholder="Search in domain list" class="form-field-domain-list-search">
        </div><a href="/#/domain-information" class="link link-more-domains">Complete list of all domains</a>
      </section>
    </div>
  </div>
</section>