<section id="domain-information">
  <div class="top-navbar">
    <div class="back glyphicon glyphicon-chevron-left"></div>
    <h2 class="icon icon-domain-info">Domain Information</h2>
  </div>
  <div class="container-domain-information-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>Domain: {{ app.environment.domain }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12"> 
          <p ng-show="alert.domain.display" class="text-center"></p>{{ alert.domain.message }}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <form class="domain-details">
            <input type="text" ng-model="domain" id="domain-name" class="field-domain-name">
            <input type="text" ng-model="geofence.latitude" id="latitude" class="field-location-latitude">
            <input type="text" ng-model="geofence.longitude" id="longitude" class="field-location-longitude">
            <input type="text" ng-model="geofence.radius" id="radius" class="field-location-radius">
            <input type="submit" ng-click="update()" id="submit" value="Save" class="field-submit">
          </form>
        </div>
        <div class="col-lg-9">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="google-map domain-information-google-map"><img src="http://maps.google.com/maps/api/staticmap?center=51.9075838,4.4557808&amp;zoom=16&amp;size=600x400&amp;maptype=roadmap&amp;sensor=false&amp;language=&amp;markers=color:red|label:none|51.9075838,4.4557808"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="domain-information-google-map-footer">
                  <form class="form-google-map">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-lg-10">
                          <input type="text" id="address" placeholder="Search for streetname, postcode or city" class="field-address">
                        </div>
                        <div class="col-lg-2">
                          <input type="submit" id="submit" value="Search" class="field-search">
                        </div>
                      </div>
                    </div>
                  </form>
                  <p class="form-note-footer">You can drag and drop the marker on the map to pinpoint the location precisely. The coordinates will change accordingly.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>