<section id="domains-overview">
  <div class="container-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2">
          <div class="page-top"><span class="icon icon-title-domain"></span>
            <h1>Select a domain</h1><a href="/#/domains" class="link link-more-domains">Go back to search view</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="domains-overview-list">
            <li>
              <ul class="domains-overview-list-item">
                <li class="name">
                  <h2>KNRM Dordrecht Zuid</h2>
                </li>
                <li class="monitors"><span class="details"><span class="counter">3</span><span class="title">Monitors</span><span class="details"><strong>3 active</strong> and <strong>1 inactive</strong></span></span></li>
                <li class="channels"><span class="details"><span class="counter">4</span><span class="title">Channels</span><span class="details"><strong>2 telephone</strong> and <strong>2 SMS channels</strong></span></span></li>
              </ul>
            </li>
            <li>
              <ul class="domains-overview-list-item">
                <li class="name">
                  <h2>KNRM Dordrecht Noord</h2>
                </li>
                <li class="monitors"><span class="details"><span class="counter">2</span><span class="title">Monitors</span><span class="details"><strong>2 active</strong> and <strong>2 inactive</strong></span></span></li>
                <li class="channels"><span class="details"><span class="counter">4</span><span class="title">Channels</span><span class="details"><strong>2 telephone</strong> and <strong>1 SMS channels</strong></span></span></li>
              </ul>
            </li>
            <li>
              <ul class="domains-overview-list-item">
                <li class="name">
                  <h2>Reddings Brigade Scheveningen</h2>
                </li>
                <li class="monitors"><span class="details"><span class="counter">5</span><span class="title">Monitors</span><span class="details"><strong>5 active</strong></span></span></li>
                <li class="channels"><span class="details"><span class="counter">2</span><span class="title">Channels</span><span class="details"><strong>1 telephone</strong> and <strong>2 SMS channels</strong></span></span></li>
              </ul>
            </li>
            <li>
              <ul class="domains-overview-list-item">
                <li class="name">
                  <h2>KNRM Scheveningen</h2>
                </li>
                <li class="monitors"><span class="details"><span class="counter">3</span><span class="title">Monitors</span><span class="details"><strong>2 active</strong> and <strong>1 inactive</strong></span></span></li>
                <li class="channels"><span class="details"><span class="counter">2</span><span class="title">Channels</span><span class="details"><strong>1 telephone</strong> and <strong>1 SMS channels</strong></span></span></li>
              </ul>
            </li>
            <li>
              <ul class="domains-overview-list-item">
                <li class="name">
                  <h2>Brandweer Zaandam</h2>
                </li>
                <li class="monitors"><span class="details"><span class="counter">9</span><span class="title">Monitors</span><span class="details"><strong>3 active</strong> and <strong>1 inactive</strong></span></span></li>
                <li class="channels"><span class="details"><span class="counter">5</span><span class="title">Channels</span><span class="details"><strong>2 telephone</strong>, <strong>2 SMS channels</strong> and <strong>1 email</strong></span></span></li>
              </ul>
            </li>
            <li>
              <ul class="domains-overview-list-item">
                <li class="name">
                  <h2>KNRM Dordrecht Zuid</h2>
                </li>
                <li class="monitors"><span class="details"><span class="counter">4</span><span class="title">Monitors</span><span class="details"><strong>3 active</strong> and <strong>1 inactive</strong></span></span></li>
                <li class="channels"><span class="details"><span class="counter">4</span><span class="title">Channels</span><span class="details"><strong>2 telephone</strong> and <strong>2 SMS channels</strong></span></span></li>
              </ul>
            </li>
            <li>
              <ul class="domains-overview-list-item">
                <li class="name">
                  <h2>Brandweer Oudenbosch</h2>
                </li>
                <li class="monitors"><span class="details"><span class="counter">12</span><span class="title">Monitors</span><span class="details"><strong>9 active</strong> and <strong>3 inactive</strong></span></span></li>
                <li class="channels"><span class="details"><span class="counter">2</span><span class="title">Channels</span><span class="details"><strong>1 telephone</strong> and <strong>2 SMS channels</strong></span></span></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2">
          <div class="page-bottom">
            <div class="pagination">
              <div class="pagination-buttons"><a href="#prev" class="prev"><i class="glyphicon glyphicon-chevron-left"></i></a><a href="#next" class="next"><i class="glyphicon glyphicon-chevron-right"></i></a></div>
              <div class="pagination-numbers"><strong>1-9</strong> of <strong>89</strong></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>