<section id="settings">
  <div class="top-navbar">
    <div class="back glyphicon glyphicon-chevron-left"></div>
    <h2 class="icon icon-settings">Settings</h2>
  </div>
  <div class="container-settings-wrapper">
    <div class="columns">
      <div class="column-one-third column-left">
        <ul>
          <li class="active"><span class="channel-icon channel-icon-user"></span>
            <div class="details-container">
              <h3>User settings</h3>
            </div>
          </li>
          <li><span class="channel-icon channel-icon-directory"></span>
            <div class="details-container">
              <h3>Application settings</h3>
            </div>
          </li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="column-two-third column-right vertical-page-spacing-left horizontal-page-spacing-top">
        <h2>User settings</h2>
        <form>
          <input type="text" placeholder="Random setting string" class="field-setting-randomsetting">
          <input type="submit" value="Save" class="field-submit field-settings-save">
        </form>
      </div>
    </div>
  </div>
</section>